<div class="">

  <!--display data-->
  <table border="1px solid">
    <thead>
    <th>List</th>
    </thead>
    <tbody>
    <tr *ngFor="let list of List">
      <td><label>
        <input type="checkbox">{{list.is_done}}
      </label></td>
      <td (click)="listClicked(list)">{{list.list_name}}</td>
      <td>{{list.created_at}}</td>
    </tr>
    </tbody>
  </table>

  <hr>

  Title
  <label>
    list<input [(ngModel)]="selectedList.list_name" type="text"><br>
    is done<input [(ngModel)]="selectedList.is_done" type="text"><br>
    created at<input [(ngModel)]="selectedList.created_at" type="text"><br>

  </label>
  <button (click)="createList()" *ngIf="selectedList.id == -1"> Add List</button>
  <button (click)="updateList()" *ngIf="selectedList.id != -1"> Update List</button>
  <button (click)="deleteList()" *ngIf="selectedList.id != -1"> Remove List</button>


</div>
